daily-weather-motivation-pushbullet.json
{
  "nodes": [
    {
      "parameters": {
        "mode": "everyDay",
        "time": "06:00"
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "uuid": "a1b2c3d4-e5f6-7890-1234-567890abcdef",
      "id": "node1"
    },
    {
      "parameters": {
        "url": "https://api.open-meteo.com/v1/forecast",
        "options": {
          "jsonParse": true
        },
        "query": {
          "latitude": "14.5605",
          "longitude": "121.0765",
          "current_weather": "true",
          "temperature_unit": "celsius",
          "wind_speed_unit": "ms"
        }
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "uuid": "b2c3d4e5-f6a7-8901-2345-67890abcdef0",
      "executeOnce": true,
      "id": "node2"
    },
    {
      "parameters": {
        "authentication": "api_key",
        "apiKey": "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",
        "model": "gpt-3.5-turbo",
        "operation": "chat",
        "messages": [
          {
            "role": "user",
            "content": "Write a concise, uplifting, and positive daily motivational message, around 2-3 sentences long. Focus on themes of productivity, growth, or perseverance. Do not include any greetings or sign-offs."
          }
        ]
      },
      "name": "OpenAI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "uuid": "c3d4e5f6-a7b8-9012-3456-7890abcdef01",
      "executeOnce": true,
      "id": "node3"
    },
    {
      "parameters": {
        "authentication": "api_key",
        "apiKey": "o.l4zdSasIomxpMc0Rl5sjjtF8ykpFiZnO",
        "type": "note",
        "title": "Daily Update for Pasig, PH",
        "body": "Good morning!\n\nCurrent weather in Pasig, PH:\nTemperature: {{ $node[\"HTTP Request\"].json.current_weather.temperature }}°C\nWind Speed: {{ $node[\"HTTP Request\"].json.current_weather.windspeed }} m/s\n\nYour daily motivation:\n\"{{ $node[\"OpenAI\"].json.choices[0].message.content }}\""
      },
      "name": "Pushbullet",
      "type": "n8n-nodes-base.pushbullet",
      "typeVersion": 1,
      "uuid": "d4e5f6a7-b8c9-0123-4567-890abcdef012",
      "executeOnce": true,
      "id": "node4"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "input": "main",
            "output": "main"
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "OpenAI",
            "input": "main",
            "output": "main"
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Pushbullet",
            "input": "main",
            "output": "main"
          }
        ]
      ]
    }
  },
  "name": "Daily Weather & Motivation",
  "active": false,
  "id": "daily-weather-motivation-workflow"
}
